body {
  text-align: center;
  margin-top: 30px;
  font-family: "Inter";
  background-color: #ffffff;
  color: rgb(219, 123, 91);
  overflow: scroll;



  overflow: scroll;
  height: 8%;


  padding-bottom: 50px;
  width: 90%;
  margin: auto;

}

#thankyou {
  font-size: 25x;
  margin-bottom: 20px;


}

.rizz {
  margin-bottom: 10 px;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  margin-right: 150px;
  margin-bottom: -75px;
  border: 2px solid rgb(103, 33, 0);
  font-family: "Inter";
  margin-bottom: 20px;
  background-color: rgb(249, 208, 211);
  color: rgb(219, 123, 91);
  border: 2px solid #ffe3e1;
  box-shadow: 1px 1px 2px #ff9494;
  transition: 0.3s;
}

.button:hover {
  background-color: #ffffff;
  color: #ffe3e1;


  position: absolute;
  margin-right: 150px;
  margin-bottom: -75px;
  border: 2px solid rgb(103, 33, 0);
}

.gif_container {
  display: flex;
  justify-content: center;
  align-items: center;
}