body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);

}

.header_text {
    font-family: 'Inter';
    font-size: 40px;
    font-weight: bold;
    color: rgb(103, 33, 0);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;

}

#button3 {
    
    border: 2px solid rgb(103, 33, 0);
    font-family: 'Inter';
    text-align: center;
    padding: 15px 32px;
    background-color: rgb(249, 208, 211);
    color: rgb(219, 123, 91);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    bottom: 10%;
    margin: auto;
    
    border: 2px solid rgb(103, 33, 0);
    align-items: center;

}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}